html{
    background-color: #09040b;
    padding: 10px;
    background-image: url(img/neon-space-warp.jpeg);
    background-size: cover;
    
   
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightgray;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 300;
}
