*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: left;
}
h1{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
h2{
    font-size: 28px;
    font-weight: 700;
}