html{
    background-color: #221f2a;
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: snow;
    margin: 10px auto;
}
h1{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    border: 10px;
    padding: 10px;
    width: fit-content;
    color: goldenrod;
    margin: 0 auto 0;
}
h2{
    font-size: 28px;
    font-weight: 700;
    margin: 10px auto 10px;
    display: inline-block;
}
img{
    margin: 10px;
    height: 300px;
    width: auto;
    display: block;
}
.main-image{
    display: block;
    height: auto;
    width: 400px;
    margin: 20px auto;
}